<div class='show_body'>

  <section class="bio_info">
    <div class="pic">
      <%= image_tag @github_profile.picture %>
    </div>

    <div class="bio-text">
      <table>

        <tr>
          <th class='info'></th>
          <th class='info'></th>
        </tr>

        <tr class="name">
          <td class='info-h'>Name </td>
          <td class='info'><%= @github_profile.name %></td>
        </tr>

        <tr class="username">
          <td class='info-h'>Username </td>
          <td class='info'><%= @github_profile.username %></td>
        </tr>

        <tr class="email">
          <td class='info-h'>Email</td>
          <td class='info'><%= @github_profile.email %></td>
        </tr>

        <tr class="location">
          <td class='info-h'>Location</td>
          <td class='info'><%= @github_profile.location %></td>
        </tr>

        <tr class="bio">
          <td class='info-h'>Bio</td>
          <td class='info'><%= @github_profile.bio %></td>
        </tr>

        <tr class="followers">
          <td class='info-h'>Followers</td>
          <td class='info'><%= @github_profile.followers %></td>
        </tr>

        <tr class="following">
          <td class='info-h'>Following</td>
          <td class='info'><%= @github_profile.following %></td>
        </tr>

        <tr class="public_repos">
          <td class='info-h'>Repos</td>
          <td class='info'><%= @github_profile.public_repos %></td>
        </tr>
      </table>
    </div>
  </section>

  <section class='main_repos'>
    <% @github_profile.repos.each do |repo| %>
      <div class='repo'>

        <div class='repo_item'>
          REPO<%= link_to "#{repo.name}", repo.link %>
        </div>

        <div class='repo_item'>
          <p>Language: <%= repo.language %></p>
        </div>

      </div>
    <% end %>
  </section>
</div>
